<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <main role="main" class="inner cover">
        <img src="/img/git.svg" width="160" height="130" alt=""><br><br>
        <h1 class="cover-heading">Welcome to Student Management System.</h1>
        <p class="lead">A Full Stack Web Application built with Node.js, Express.js, MongoDB and Bootstrap for managing all
             the tasks and activities of a student within an Institution.</p>
        <p class="lead">
            <a href="/users/signin" class="btn btn-lg btn-success">Sign in</a>
            <a href="/users/signup" class="btn btn-lg btn-secondary">Create an account</a>
        </p>
    </main>

</div>